@using System.Web.Optimization
@model simpleblog.Areas.Admin.ViewModels.PostsForm
         
<h1>@(Model.IsNew ? "Create Post" : "Update Post")</h1>

@using (Html.BeginForm("Form", "Posts"))
{
  if (!Model.IsNew)
  {
    @Html.HiddenFor(f => f.PostId)
  }
  
  @Html.AntiForgeryToken()

  <div class="row">
    <div class="col-lg-8">
      @Html.ValidationSummary()

      <div class="form-group">
        @Html.LabelFor(f => f.Title)
        @Html.TextBoxFor(f => f.Title, new { @class = "form-control no-autocomplete", autofocus="true" })
      </div> <!-- End form-group -->

      <div class="form-group">
        <label for="Slug">Slug - Field is auto generated</label>
        @Html.TextBoxFor(f => f.Slug, new { @class = "form-control no-autocomplete", data_slug = "#Title" })
      </div> <!-- End form-group -->

      <div class="alert alert-warning loading-textarea">
        <i class="glyphicon glyphicon-cog spin"></i> Loading..
      </div>

      <div class="form-group" id="content-textarea">
        @Html.LabelFor(f => f.Content)
        @Html.TextAreaFor(f => f.Content, new { @class = "form-control"})
      </div> <!-- End form-group -->

    </div> <!-- End col-lg-8 -->

    <div class="col-lg-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          Tags
        </div>
        <div class="panel panel-body post-tag-editor">
          <label for="new-tag-name">New Tag:</label>
          <div class="input-group">
            <input id="new-tag-name" type="text" class="new-tag-name form-control"/>
            <span class="input-group-btn">
              <button class="btn btn-primary add-tag-button" disabled>Add</button>
            </span>
          </div>

          <ul class="tag-select">
            <li class="template">
              <a href="javascript:;" class="name"></a>

              <input type="hidden" class="name-input"/>
              <input type="hidden" class="selected-input" />
            </li>
            
            @for (var i = 0; i < Model.Tags.Count; i++)
            {
              var tag = Model.Tags[i];

              <li data-tag-id="@tag.Id" class="@(tag.IsChecked ? "selected" : "")">
                <a href="javascript:;">@tag.Name</a>

                <input type="hidden" name="Tags[@(i)].Id" value="@tag.Id"/>
                <input type="hidden" name="Tags[@(i)].Name" value="@tag.Name"/>
                <input type="hidden" name="Tags[@(i)].IsChecked" value="@tag.IsChecked.ToString()" class="selected-input"/>
              </li>
            }
          </ul>
        </div>
      </div>
      
      <div class="panel panel-success">
        <div class="panel-heading">
          Post Actions
        </div> <!-- End panel-heading -->
        <div class="panel-body">
          <input type="submit" value="@(Model.IsNew ? "Publish Post" : "Update Post")" class="btn btn-sm btn-success submit-post"/>
          <a href="@Url.Action("index")" class="btn btn-danger btn-sm"> Cancel</a>
        </div> <!-- End panel-body -->
      </div> <!-- End panel -->
    </div> <!-- End col-lg-4 -->
  </div> <!-- End row -->
}
@section Scripts {
  @Scripts.Render("~/admin/post/scripts")
  <script src="~/Content/Scripts/ckeditor/ckeditor.js"></script>

  <script>
    CKEDITOR.replace("Content");
  </script>
}
