@model simpleblog.Infrastructure.PagedData<simpleblog.Models.Post>

<div class="row" id="blog-page">
  <div class="col-lg-9 ">
    @foreach (var post in Model)
    {
      @Html.Partial("_Post", post)
    }
  </div>

  @Html.Partial("_PostsFooter", Model)

  <div class="clearfix"></div>
  <ul class="list-unstyled blog-pagination">
    <li class="pull-left">
      <a href="@(Model.HasPreviousPage ? @Url.Action(null, new {page = Model.PreviousPage}) : "javascript:;")" class="btn btn-primary @(!Model.HasPreviousPage ? "disabled" : "")">
        <i class="glyphicon glyphicon-chevron-left"></i> Newer Posts
      </a>
    </li>
    <li class="pull-right">
      <a href="@(Model.HasNextPage ? @Url.Action(null, new {page = Model.NextPage}) : "javascript:;")" class="btn btn-primary @(!Model.HasNextPage ? "disabled" : "")">
        Older Posts <i class="glyphicon glyphicon-chevron-right"></i>
      </a>
    </li>
  </ul>
</div>
