@model simpleblog.Models.Post


<div class="row">
  <div class="col-sm-4">
    <h1><a href="@Url.RouteUrl("Post", new{Model.Id, Model.Slug})">@Model.Title</a></h1>
    <div class="Model-content">
      @Html.Raw(Model.Content)
    </div>
  </div>
  <div class="col-sm-4">
    <ul class="pull-right list-unstyled tags">
      @foreach (var tag in Model.Tags)
      {
        <li>
          <a href="@Url.RouteUrl("Tag", new {tag.Id, tag.Slug})" class="badge">@tag.Name</a>
        </li>
      }
    </ul>
    Posted: @Model.CreatedAt.ToLocalTime().ToString("MM-dd-yy h:mm tt")
  </div>
</div>
