@model simpleblog.Models.Post


<div class="row">
  <div class="col-sm-4">
    <h1><a href="@Url.RouteUrl("Post", new {Model.Id, Model.Slug})">@Model.Title</a>
    </h1>
    <div class="Model-content">
      @Html.Raw(Model.Content)
    </div>
  </div>
  <div class="col-sm-4">
    <ul class="pull-right list-unstyled tags">
      @foreach (var tag in Model.Tags)
      {
        <li>
          <a href="@Url.RouteUrl("Tag", new {tag.Id, tag.Slug})" class="badge">@tag.Name</a>
        </li>
      }
    </ul>
    Posted: @Model.CreatedAt.ToLocalTime().ToString("dddd, MMMM dd, yyyy, 'at' h:MM tt")
  </div>
</div>





<div class="blog-item">
  <div class="row">
    <div class="col-lg-2 col-sm-2">
      <div class="date-wrap">
        <span class="date">
          @Model.CreatedAt.ToLocalTime().ToString("dd")
        </span>
        <span class="month">@Model.CreatedAt.ToLocalTime().ToString("MMMM")</span>
      </div>
      <div class="comnt-wrap">
        <span class="comnt-ico">
          <i class="fa fa-comments"></i>
        </span>
        <span class="value">0</span>
      </div>
    </div>
    <div class="col-lg-10 col-sm-10">
      <div class="blog-img">
        <img src="http://placehold.it/701x329&text=Blog+Image">
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-sm-2 text-right">
      <div class="author">
        By <a href="javascript:;">@Model.User.Username</a>
      </div>
      <ul class="list-unstyled">
        @foreach (var tag in Model.Tags.Take(4))
        {
          <li><a href="javascript:;"><em>@tag.Name</em></a></li>
        }
      </ul>
      <div class="shate-view">
        <ul class="list-unstyled">
          <li><a href="javascript:;">0 View</a></li>
          <li><a href="javascript:;">0 Share</a></li>

        </ul>
      </div>
    </div>
    <div class="col-lg-10 col-sm-10">
      <h1><a href="@Url.RouteUrl("Post", new{Model.Id, Model.Slug})">@Model.Title</a></h1>
      <p>@Html.Raw(Model.Content)</p>
      <a href="@Url.RouteUrl("Post", new { Model.Id, Model.Slug })" class=" btn btn-danger">Continue Reading</a>
    </div>
  </div>
</div>














