@model simpleblog.ViewModels.PostsShow

@*@Html.Partial("_Post", Model.Post)*@

@{
  ViewBag.Title = Model.Post.Title;
}

<div class="container">
  <div class="row" id="blog-page">
    <!--blog start-->
    <div class="col-lg-9">
      <div class="blog-item">
        <div class="row">
          <div class="col-lg-2 col-sm-2">
            <div class="date-wrap">
              <span class="date" id="date">
                @Model.Post.CreatedAt.ToLocalTime().ToString("dd")
              </span>
              <span class="month" id="month">
                @Model.Post.CreatedAt.ToLocalTime().ToString("MMMM")
              </span>
            </div>
            @if (User.IsInRole("admin"))
            {
              <div class="comnt-wrap">
                <span class="comnt-ico">
                  Admin
                </span>
                <span class="value">
                  <a href="@Url.Action("Edit", new {area = "admin", id = Model.Post.Id})">Edit</a>
                </span>
              </div>
            }
          </div>
          <div class="col-lg-10 col-sm-10">
            <div class="blog-img">
              <img src="http://placehold.it/701x329&text=Blog+Image">
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-sm-2 text-right">
            <div class="author">
              By <a href="javascript:;">@Model.Post.User.Username</a>
            </div>
            <ul class="list-unstyled">
              @foreach (var tag in Model.Post.Tags.Take(4))
              {
                <li>
                  <a href="@Url.RouteUrl("Tag", new {tag.Id, tag.Slug})">
                    <em>@tag.Name</em>
                  </a>
                </li>
              }
            </ul>
          </div>
          <div class="col-lg-10 col-sm-10">
            <h1><a href="javascript:;">@Model.Post.Title</a></h1>
            <p>
              @Html.Raw(Model.Post.Content)
              
            </p>
          </div>
        </div>
      </div>
    </div>

    @Html.Action("TagCloud", "Layout")
    
  </div> <!--blog end-->
</div> <!-- End Container -->