@model simpleblog.ViewModels.PostsShow

@*@Html.Partial("_Post", Model.Post)*@

@{
  ViewBag.Title = Model.Post.Title;
}

<div class="container">
  <div class="row" id="blog-page">
    <!--blog start-->
    <div class="col-lg-9">
      <div class="blog-item">
        <div class="row">
          <div class="col-lg-2 col-sm-2">
            <div class="date-wrap">
              <span class="date" id="date">
                @Model.Post.CreatedAt.ToLocalTime().ToString("dd")
              </span>
              <span class="month" id="month">
                @Model.Post.CreatedAt.ToLocalTime().ToString("MMMM")
              </span>
            </div>
            <div class="comnt-wrap">
              <span class="comnt-ico">
                <i class="fa fa-comments"></i>
              </span>
              <span class="value">15</span>
            </div>
          </div>
          <div class="col-lg-10 col-sm-10">
            <div class="blog-img">
              <img src="http://placehold.it/701x329&text=Blog+Image">
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-sm-2 text-right">
            <div class="author">
              By <a href="#">@Model.Post.User.Username</a>
            </div>
            <ul class="list-unstyled">
              @foreach (var tag in Model.Post.Tags.Take(4))
              {
                <li>
                  <a href="@Url.RouteUrl("Tag", new {tag.Id, tag.Slug})">
                    <em>@tag.Name</em>
                  </a>
                </li>
              }
            </ul>
            <div class="shate-view">
              <ul class="list-unstyled">
                <li><a href="javascript:;">0 View</a></li>
                <li><a href="javascript:;">0 Share</a></li>

              </ul>
            </div>
          </div>
          <div class="col-lg-10 col-sm-10">
            <h1><a href="javascript:;">@Model.Post.Title</a></h1>
            <p>
              @Html.Raw(Model.Post.Content)
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="blog-side-item">
        <div class="search-row">
          <input type="text" class="form-control" placeholder="Search here">
        </div>
        <div class="category">
          <h3>Categories</h3>
          <ul class="list-unstyled">
            <li><a href="javascript:;"><i class="  fa fa-angle-right"></i> Shipping</a></li>
            <li><a href="javascript:;"><i class="  fa fa-angle-right"></i> Accounting</a></li>
            <li><a href="javascript:;"><i class="  fa fa-angle-right"></i> Employees</a></li>
            <li><a href="javascript:;"><i class="  fa fa-angle-right"></i> Shipping</a></li>
            <li><a href="javascript:;"><i class="  fa fa-angle-right"></i> Receiving</a></li>
          </ul>
        </div>

        <div class="blog-post">
          <h3>Latest Blog Post</h3>
          <div class="media">
            <a class="pull-left" href="javascript:;">
              <img class=" " src="http://placehold.it/70&text=Blog+Image" alt="">
            </a>
            <div class="media-body">
              <h5 class="media-heading"><a href="javascript:;">02 May 2013 </a></h5>
              <p>
                Donec id elit non mi porta gravida at eget metus amet int
              </p>
            </div>
          </div>
          <div class="media">
            <a class="pull-left" href="javascript:;">
              <img class=" " src="http://placehold.it/70&text=Blog+Image" alt="">
            </a>
            <div class="media-body">
              <h5 class="media-heading"><a href="javascript:;">02 May 2013 </a></h5>
              <p>
                Donec id elit non mi porta gravida at eget metus amet int
              </p>
            </div>
          </div>
          <div class="media">
            <a class="pull-left" href="javascript:;">
              <img class=" " src="http://placehold.it/70&text=Blog+Image" alt="">
            </a>
            <div class="media-body">
              <h5 class="media-heading"><a href="javascript:;">02 May 2013 </a></h5>
              <p>
                Donec id elit non mi porta gravida at eget metus amet int
              </p>
            </div>
          </div>
        </div>

        <div class="tags">
          <h3>Tags</h3>
          <ul class="list-unstyled tag">
            <li><a href="#"> Shipping</a></li>
            <li><a href="#"> Development</a></li>
            <li><a href="#"> Coming Soon</a></li>
            <li><a href="#"> Help</a></li>
            <li><a href="#"> Time Tracking</a></li>
            <li><a href="#"> Receiving</a></li>
            <li><a href="#"> Invoicing</a></li>
            <li><a href="#"> Items</a></li>
          </ul>
        </div>

        <div class="archive">
          <h3>Archive</h3>
          <ul class="list-unstyled">
            <li><a href="javascript:;"><i class="  fa fa-angle-right"></i> May 2013</a></li>
            <li><a href="javascript:;"><i class="  fa fa-angle-right"></i> April 2013</a></li>
            <li><a href="javascript:;"><i class="  fa fa-angle-right"></i> March 2013</a></li>
            <li><a href="javascript:;"><i class="  fa fa-angle-right"></i> February 2013</a></li>
            <li><a href="javascript:;"><i class="  fa fa-angle-right"></i> January 2013</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div> <!--blog end-->
</div> <!-- End Container -->