@model simpleblog.Areas.Admin.ViewModels.UsersResetPassword

<h1>Reset Password for @Model.Username</h1>

@using (Html.BeginForm())
{
  @Html.ValidationSummary()

  <div class="form-group">
    @Html.LabelFor(f => f.Password)
    @Html.TextBoxFor(f => f.Password, new { @class = "form-control", type = "password", autofocus = true })
  </div>
  
  <input type="submit" value="Reset Pasword" class="btn btn-success"/>
  <a href="@Url.Action("index")" class="pull-right btn btn-warning">Cancel</a>
}
