@using System.Configuration
@using System.Reflection
@using System.Web.Optimization
@using Microsoft.WindowsAzure.Storage

@{
  Layout = null;
}

@helper SelectedTabClass(string tabName)
{
  if (tabName == ViewBag.SelectedTab)
  {
    @: active
  }
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="content-language" content="en">
  <meta name="description" content="Blog For Verde Circle. Verde Circle is at the forefront of changing the way small businesses operate and manage inventory, locations, orders and accounting">
  <meta name="keywords" content="verde circle, thriii, accounting, inventory management, small business, order management, warehouse management">
  <meta name="author" content="Verde Circle, Jared Lucas Cowan">
  <meta name="robots" content="index, follow">
  <meta property="og:type" content="website">
  <meta property="og:image" content="@Url.VerdeCdn("~/images/verde-circle-logo.jpg")">
  <meta property="og:site_name" content="Verde Circle Blog">
  <title>Verde Circle - @ViewBag.Title</title>
  @Styles.Render("~/styles")
</head>
<body>
<!--header start-->
@*@(ViewBag.Title == "Home" ? Html.Action("Homebar", "Layout") : Html.Action("Navbar", "Layout"))*@
  @Html.Action("Navbar", "Layout")
<!--header end-->

  <div class="container">

    @RenderBody()

  </div> <!-- End Container -->

  <footer class="footer thriii__footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-3">
          <h1>contact info</h1>
          <address>
            <p>Address: 123 10th Street<i class="fa fa-facebook"></i></p>
            <p>
              Venice Beach, CA, 90266
            </p><p>Phone : (310) 123-1444</p>
            <p>Fax : (310) 555-1313</p>
            <p>Email : <a href="javascript:;">support@thriii.com</a></p>
          </address>
        </div>
        <div class="col-lg-5 col-sm-5">
          <h1>latest tweet</h1>
          <div class="tweet-box">
            <i class="fa fa-twitter"></i>
            <em>Please follow <a href="javascript:;">thriii</a> for all future updates of us! <a href="javascript:;">twitter.com/thriii</a></em>
          </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-lg-offset-1">
          <h1>stay connected</h1>
          <ul class="social-link-footer list-unstyled">
            <li><a href="javascript:;"><i class="fa fa-face"></i></a></li>
            <li><a href="javascript:;"><i class="fa fa-linkin"></i></a></li>
            <li><a href="javascript:;"><i class="fa fa-twitt"></i></a></li>
            <li><a href="javascript:;"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div> <!-- END Row -->
    </div> <!-- End Container -->
  </footer><!-- END thriii__footer -->
  @Scripts.Render("~/scripts")
  @RenderSection("Scripts", false)
</body>
</html>
