@model simpleblog.ViewModels.LayoutNavbar

@{
  Layout = null;
}

@helper SelectedTabClass(string tabName)
{
  if (tabName == ViewBag.SelectedTab)
  {
    @: active
  }
}

<header class="header-frontend">
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="index.html">
          <img src="@Url.VerdeCdn("~/images/thriii-logo.png")">
        </a>
      </div>
      <div class="navbar-collapse collapse thriii-header-background">
        <ul class="nav navbar-nav">
          <li class="@SelectedTabClass("home")">
            <a href="@Url.RouteUrl("home")">Home</a>
          </li>
          <li class="@SelectedTabClass("blog")">
            <a href="@Url.RouteUrl("Posts")">Blog</a>
          </li>
          <li class="@SelectedTabClass("price")">
            <a href="@Url.RouteUrl("price")">Price</a>
          </li>
          <li class="@SelectedTabClass("contact")">
            <a href="@Url.RouteUrl("contact")">Contact</a>
          </li>
          <li class="@SelectedTabClass("signin")">
            <a href="@Url.RouteUrl("signin")">Sign In</a>
          </li>
          <li class="@SelectedTabClass("signup")">
            <a href="@Url.RouteUrl("signup")">Free Trial</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header> <!--header end-->
